<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ node.title }}</title>
    <link rel="stylesheet" href="@root/assets/css/main.css">
    <link rel="stylesheet" href="@root/assets/css/codehilite.css">
</head>
<body>
    <nav>
    {{ inc.course_menu }}
    </nav>
    <div class="main">
    {{ node.html }}
    </div>
</body>
</html>
