<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ node.title }}</title>
    <link rel="stylesheet" href="@root/assets/css/main.css">
</head>
<body>
    <div class="content">
    {{ node.html }}
    </div>
</body>
</html>
