<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ .Site.Title }} {{ .Title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">

  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ .Site.BaseURL }}/css/navbar-top-fixed.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    </head>
    <body>

      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/{{ .Section }}">{{ .Params.courseName }}</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- </div> -->
          <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="/{{ .Section }}/getting-started/">Getting Started</a></li>
              <li class="nav-item"><a class="nav-link" href="/{{ .Section }}/lessons/">Lessons</a></li>
            </ul>
            <ul class="navbar-nav pull-right">
              <li class="nav-item pull-right"><a class="nav-link" href="{{ .Site.BaseURL }}">Dr. CS codes</a></li>
            </ul>

          </div>
      </nav>

      <main role="main" class="container">
      {{ .Content }}
      </main>

      <!-- Bootstrap core JavaScript
           ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

      <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
